*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s;
  font-family:
    'Segoe UI',
    'Fira Sans',
    'Droid Sans',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 1280px;
  max-height: 1vh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.fc-daygrid-day-top {
  position: relative;
}

.fc-daygrid-day-top {
  position: absolute;
  left: 0;
  top: 0;
}

.btn {
  color: white;
  background: #2C3D50;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #1f2b38;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
